:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #282828;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  transition: .5s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, beige, #decfac, antiquewhite,lightyellow, beige);
  background-size: 800% 800%;
  animation: gradient 10s linear infinite;
}


.alt-logo{ 
  width:fit-content; 
  height:100px; 
  background-color: transparent; 
  align-self: center; 
  margin: 5px;  
  border-radius: 15px;
}

.body{
   min-height: 100vh;
 
}
.container{
   display: flex;
}
.sidebar{
  display: flex;
   min-width: 200px;
   background-color: #282828;
   float: left;
   height:100vh;
   margin:0;
   color:beige;
   box-shadow:0px 7px 8px 3px #282828cc;
   border-radius: 10px;
   flex-direction: column;
   flex-wrap: wrap;
}
.sidebar button{ 
  text-align: center;
  margin: 10px;
  background-color: beige;
  color:#282828;
  border-radius: 30px;
  text-shadow: 0px 7px 8px #282828;
  transition: .5s;
  flex-shrink: 1;
  font-weight:bold;
}
.sidebar button:hover{
  color:#282828;
  border:1px solid antiquewhite;
  top:2px;
  text-shadow:none;
  background-color: antiquewhite;
  border-bottom-left-radius: 15px;
}
.sidebar-buttons img{
   width:15px;
   height:15px;
   align-self: center;
   transition: .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.sidebar-button-text{ 
  display:none;
  transition: .5s;
}
.sidebar-buttons img{
  align-self: right;
}
.sidebar button:hover .sidebar-button-text{
   display: block;
   text-align: center;
}
input[type='text']{ 
  margin:6px;
  background-color:beige;
  color:#282828;
  border-radius:30px;
  outline:none;
  border:none;
  height:20px;
  transition: .5s;
  flex-shrink: 1;
}
input[type='text']:hover{
  color:#282828;
  border:1px solid antiquewhite;
  background-color: antiquewhite;
  border-bottom-left-radius: 15px;
  height:35px;
}
input[type='text']:active{
  color:#282828;
  border:1px solid antiquewhite;
  background-color: antiquewhite;
  border-bottom-left-radius: 15px;
  
}

.main {
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(7px);
  border-radius:30px;
  background-color:transparent;
  margin: 5px;
}
#main-title{ 
  margin-top:95px;
  margin-bottom:5px;
}
#main-title:hover{
  transition: .15s ease;
  text-shadow: 0px 7px 8px #282828;
}
.audio-controls{
  transition: .30s ease-in-out;
  text-align: center;
  margin:6px;
  margin-top:auto;
  flex-shrink: 1;
  border-radius: 30px;
  background-color: transparent;
  backdrop-filter: blur(15px);
}
.audio-controls:hover{
  text-shadow: 0px 7px 8px #282828cc;
  box-shadow: 0px 7px 8px #282828cc;
  bottom:5px;
}
#song-list{
  transition: .30s ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
  margin-bottom: 20px;
  background-color: #282828;
  top:0;
  border-radius: 30px;
  margin-left: 15%;
  margin-right:15%;
  background-image: url('assets/images/Casette-Background.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:hard-light;
  backdrop-filter: blur(15px);
}
#song-list:hover { 
  box-shadow: 0px 7px 8px 3px #282828cc;
  top:5px;
  background-color: #282828ee;
}

.song-item{
  transition: .30s ease-in-out;
  text-align:center;
  color: antiquewhite;
  position: relative;
  list-style: none;
  margin: 14px 0px;
  border-width:thick;
  border-radius:30px;
  transition: .15s linear;
  cursor:pointer;
  font-size: large;
  font-weight: lighter;
}
.song-item:hover, .song-item:focus, .song-item:active{
   background: linear-gradient(to top,#282828,#f86161, crimson);
   background-clip: text;
   color: transparent;
   border-radius: 8px;

}
#current-song h2{
  font-weight: bold;
  font-family:"Cascadia Code";
  text-align: center;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
#seek-bar{
    width: 50%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 6px;
    background: #282828;
    border-radius: 15px;
    transition: .30s ease-in-out;
    top:5px;
    box-shadow: none;
}
#seek-bar:hover{
   border-radius:20px;
   box-shadow: 0px 3px 4px 3px #28282899;
   top:0;
  
}

input[type="range"]::-moz-range-thumb{
  height: 20px;
  width: 20px;
  background-color: beige;
  border-radius: 50%;
  transition: .2s ease-in-out;
  background-image: url('assets/audio-control-icons/cassette-svgrepo-mono.svg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;

}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: beige;
  transition: .2s ease-in-out;
  background-image: url('assets/audio-control-icons/cassette-svgrepo-mono.svg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;
}


input[type="range"]:active::-webkit-slider-thumb {
  transform: rotate(360deg);
}
input[type="range"]:focus::-webkit-slider-thumb {
  transform: rotate(360deg);
}

input[type="range"]:active::-moz-range-thumb {
  transform: rotate(360deg);
}
input[type="range"]:focus::-moz-range-thumb {
  transform: rotate(360deg); 
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.row button{
   margin: 5px;
   background-color: transparent;
   /*border:4px solid #282828;*/
   outline:none;
   /*box-shadow: 0px 8px 8px 3px #282828;*/
   transition: .15s ease-in-out;
}
.row button:hover{
  background-color: transparent;
  color:#282828;
  border:1px solid #282828ee;
  box-shadow: 0px 7px 8px 3px #282828cc;
  top:2px;
}
#stop-button:hover img{ 
  filter: invert(22%) sepia(72%) saturate(2758%) hue-rotate(340deg) brightness(88%) contrast(94%);
}
.row button:active{
  box-shadow: 0px 2px 8px 3px #28282899;
  border:1px dotted #282828ee;
  position:relative;
  top:8px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}
button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #282828;
  background-color: beige;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.icon {
  width: 24px;
  height: 24px;
  color: white;
}
button {
  cursor: pointer;
}

button:hover {
  border-color: beige;
  color:#282828;
  background-color: crimson;
}
button:active {
  border-color: crimson;
  background-color: #e8e8e8;
}
button {
  outline: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #282828;
    background-color: beige;
  }
@media only screen and (max-width: 992px){
  :root{
    font-size: 13px;
    line-height: 14px;
    font-weight: 200;
  }
  #main-title{ 
    margin-top: 40px;
  }
  .alt-logo{
     align-self: center;
     width: 100px;
     height: 100px;
     transition: .30s ease-in-out
  }
  .alt-logo:hover{
    box-shadow: 0 7px 8px#decfac;
  }
  .container{
     flex-direction: column;
  }
  .sidebar {
    height: auto; /* Remove fixed height */
    flex-direction: column; /* Change direction to stack items vertically */
    align-items: center; /* Center items horizontally */
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: none;
  }
  .sidebar .sidebar-buttons{
     flex-direction: row;
     align-items: center;
     max-height: 150px;
     max-width:40%;
     
  }
  .search-div{
     align-self: center;
     max-width: 50%;
  }
  .search-box:hover{ 
    width:150px;
  }
  .sidebar .playlist-button {
    width: 50%;
    background-color: beige;
    color: #282828;
    border-radius: 30px;
    text-shadow: 0px 7px 8px #282828;
    transition: .5s;
    font-weight: bold;
    display: block; /* Ensure the button is visible */ /* Space below the button */
  }

  .sidebar .playlist-div {
    width: 50%;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0px 7px 8px 3px #282828cc;
    z-index: 1;
    position: relative;
    bottom: 0; /* Adjust this value based on your design */
    left: 0;
  }

  .playlist-div h4 {
    display: none; /* Hide the heading when in dropdown mode */
  }
 
  .audio-controls{
     border-radius: 15px;
     align-self: center;
     margin-top: 25px;
  }
}
.sidebar .playlist-div{
   display: flex;
   flex-direction: column;
   transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1) ease-in-out;
}
.search-div{ 
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sidebar-buttons{
  display: flex;
  flex-direction: column;
 }
 #playlists #playlist-item{ 
  border-radius:30px;
  text-align: left;
  transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
  right:0px;
  font-weight: lighter;
  list-style-position: inside;
  margin: 4px;
  align-self: center;
  flex-wrap: nowrap;
 }
 #playlists #playlist-item button{
   margin-right: 2px;
   transform: scale(0);
   transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
 }
 #playlists #playlist-item:hover{ 
    text-align: center;
    border-bottom-left-radius: 15px;
    cursor:pointer;
    background-color: beige;
    color:#282828;
    font-weight: bold;
 }
 #playlists #playlist-item:hover button{
   transform:scale(1);
 }
 #playlists button:hover #del-icn{
  transition: .5s linear;
  filter: invert(22%) sepia(72%) saturate(2758%) hue-rotate(340deg) brightness(88%) contrast(94%);
  transform:skewY(2px);
 }
 #playlists button:hover #edit-icn{
  transition: .5s linear;
  filter: invert(22%) sepia(90%) saturate(2758%) hue-rotate(180deg) brightness(100%) contrast(100%);
 }
 
 .modal-errors {
  color: red;
  margin-top: 10px;
}

  a:hover {
    color: #24c8db;
  }

  button {
    color: #ffffff;
    background-color: #282828;
  }
  button:active {
    background-color: #282828;
  }
}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(30px);
}

.modal-content {
  background: linear-gradient(to right top,beige, #decfac);
  margin: 15% auto;
  padding: 20px;
  color:#282828;
  box-shadow: 0px 2px 8px 3px #282828;
  width: 80%;
  transition: .5s;
  border-radius: 15px;
}
.modal button{ 
  text-align: center;
  margin: 10px;
  background-color: #282828;
  color:beige;
  border-radius: 30px;
  text-shadow: 0px 7px 8px #282828;
  transition: .5s;
  flex-shrink: 1;
  font-weight:bold;
}
.modal button:hover{
  color:#282828;
  border:1px solid antiquewhite;
  top:2px;
  text-shadow:none;
  background-color: antiquewhite;
  border-bottom-left-radius: 15px;
}

.close {
  color: #282828;
  float: right;
  font-size: 50px;
  font-weight: bold;
  transition: .5;
}

.close:hover,
.close:focus {
  color: crimson;
  text-decoration: none;
  cursor: pointer;
  transform:rotateY(20deg);
}

/* Selectable song list */
.selectable-song {
  cursor: pointer;
  transition: .5s;
  list-style: none;
  color:#282828;
  margin:3px;
}

.selectable-song.selected {
  background: linear-gradient(to top, #f86161, crimson);
  color:antiquewhite;
  border-radius: 8px;
  box-shadow: 0px 4px 3px #f86161;
}
::-webkit-scrollbar{ 
  width:12px;
  height:12px;
}
::-webkit-scrollbar-thumb{
   background-color: #282828;
   border-radius: 10px;
   border:3px solid beige;
   transition: .5s;
   cursor: pointer;
}
::-webkit-scrollbar-track{
   background:linear-gradient(to right top, beige,#decfac);
   border-radius: 10px;
}
#initial-prompt { 
  align-self: center;
  margin: 100px;
  font-weight: bold;
}
#choose-directory-main{
  text-align: center;
  margin: 10px;
  background-color: #282828;
  color:beige;
  border-radius: 30px;
  text-shadow: 0px 7px 8px #282828;
  transition: .5s;
  flex-shrink: 1;
  font-weight:bold;
}
#choose-directory-main:hover{ 
  background:linear-gradient(to right top, antiquewhite,#decfac);
  color:#282828;
  border-bottom-left-radius: 15px;
  text-shadow:none;
}
/*Search box and results*/
.search-div{
   align-self: center;
   flex-direction: column;
   display: flex;
}
.search-box {
  position: relative;
  margin-bottom: 5px;
  height:15px;
}

.search-results {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 200px;
  overflow-y: auto;
  background-color: beige;
  border-radius: 30px;
  z-index: 10;
  align-self: center;
}

.search-results li {
  cursor: pointer;
  list-style: none;
  font-size: small;
  color:#282828;
  font-weight: bold;
  transition: .15s;
  border-radius: 7.5px;
  text-align: left;
  list-style-type:none;

}

.search-results li:hover {
  color: crimson;
  border:none;
}

